.home{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#top{
    height: 10%;
}

.home-bar{
    display: flex;
    flex-direction: row-reverse;
    /* background-color: gray; */
    flex-wrap: wrap;
    justify-content: center;
}

.info-box{
    display: flex; 
    justify-content: center;
    flex-grow: 1;
    min-width: 60%;
}

.stuff{
    background-color: #3a3b3c;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-right: 1px solid rgb(90, 90, 90);
    border-top: 1px solid rgb(90, 90, 90);
    border-bottom: 1px solid rgb(90, 90, 90);
    padding: 2px;
    text-align: center;
    border-bottom-right-radius: 50px;
    margin-top: 5px;
}

.profile-picture{
    border-radius: 50px;
    margin: 5px;
    border: 1px solid rgb(90, 90, 90);
}

#bottom{
    display: flex;
    flex-grow: 1;
}