.sandbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    /* height: 100%; */
    /* padding-top:2%; */
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:lightgray; */
    height: 10%;
}

.project-list{
    display: flex;
    height: 10%;
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2fcec1;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.1s;
    padding: 0px 20px;
}

.nav-button-wrapper{
    text-decoration: none;
    margin: 5px 10px;
}

.padding{
    display: flex;
    justify-content: center;
}