.navbar{
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    text-align: center;
}

.rerouters{
    display: flex;
    flex-direction: column;
    background-color: #242526;
    height: 50%;
}

.nav-button:hover{
    background-color: #e7e424;
    transform: scale(1.02) perspective(1px);
    color: black;
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3b3c;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.1s;
    padding: 0px 20px;
}

.nav-button-wrapper{
    text-decoration: none;
    margin: 5px 10px;
}

.padding{
    display: flex;
    justify-content: center;
}