.sorting-page{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.all-bars{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #ffffff;
    align-items: flex-end;
    height: 100%;
}

.reset-area{
    display: flex;
    flex-direction: column;
    border: 1px dotted grey;
}

.sorted-levels{
    display: flex;
    /* flex-grow: 1; */
    /* background-color: lightgrey; */
    justify-content: center;
    /* height: 50%; */
}

.sorted-text{
    display: flex;
    align-items:center;
}

.reset-level-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.reset-level{
    display: flex;
    align-items: center;
    padding-left: 1px;
    padding-right: 1px;
}

.single-bar{
    display: inline-block;
    background-color: red;
    width: 100%;
    /* height: 80%; */
    margin: 0px 1px 0px 0px;
}

.button-list{
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    margin: 1%
}

.button{
    background-color: #9be4ff;
    color: black;
    font-size: calc(8px + 0.5vw);
    padding-left: 3px;
    padding-right: 3px;
    /* border: none; */
}

.cancel-button{
    background-color: #9be4ff;
    color: black;
    font-size: calc(8px + 0.5vw);
    padding-left: 3px;
    padding-right: 3px;
    /* border: none; */
}

/* The slider itself */
.slider {
    display: flex;
    flex-grow: 1;
    margin-left: 5px;
}

.slider-box{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.slider-text{
    display: flex;
    background-color: rgb(250, 250, 250);
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}