.sorting-page{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.all-bars{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #18191a;
    align-items: flex-end;
    height: 100%;
}

.reset-area{
    display: flex;
    flex-direction: column;
    /* border: 1px dotted grey; */
    margin-right: 3px;
}

.sorted-levels{
    display: flex;
    /* flex-grow: 1; */
    background-color: #3a3b3c;
    justify-content: center;
    /* height: 50%; */
}

.sorted-text{
    display: flex;
    align-items:center;
    justify-content: center;
}

.reset-level-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.reset-level{
    display: flex;
    align-items: center;
    padding-left: 1px;
    padding-right: 1px;
}

.single-bar{
    display: inline-block;
    background-color: #eb4528;
    width: 100%;
    /* height: 80%; */
    margin: 0px 1px 0px 0px;
}

.button-list{
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    margin: 1%
}

.button{
    /* #23628b blue*/ 
    /* #aaabbc grey blue */
    background-color: #aaabbc;
    color: black;
    font-size: calc(8px + 0.5vw);
    padding-left: 3px;
    padding-right: 3px;
    /* border: none; */
}

#reset-button{
    font-size: calc(5px + 0.5vw);
}

.cancel-button{
    background-color: #aaabbc;
    color: black;
    font-size: calc(6px + 0.5vw);
    padding-left: 3px;
    padding-right: 3px;
    /* border: none; */
}

/* The slider itself */
.slider {
    display: flex;
    flex-grow: 1;
    margin-left: 5px;
}

.slider-box{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.slider-text{
    display: flex;
    background-color: #3a3b3c;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
}