.sorting-page{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.all-bars{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #f1f1f1;
    align-items: flex-end;
    height: 100%;
}

.single-bar{
    display: inline-block;
    background-color: red;
    width: 100%;
    /* height: 80%; */
    margin: 0px 1px 0px 0px;
}

.button-list{
    display: flex;
    height: 20%;
    margin: 5% 2% 5% 2%;
}

.button{
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 5px;
    background-color: #9be4ff;
    color: black;
    /* border: none; */
}