* {
  margin: 0;
  padding: 0;
  /* border: 0; */
  outline: 0;
  font-size: calc(11px + 0.5vw);
  font-family: Helvetica, sans-serif;
  color: #2e2e2e;
  height: 100%; 
  vertical-align: baseline; 
  background: transparent;
  min-width:0;
  min-height: 0;
}

.App {
   display: flex;
   box-sizing: border-box;
   overflow: hidden;
}

.pages{
  display: flex;
  flex-grow: 4;
  flex-shrink: 1;
  flex-basis: 0;
  /* background-color: #525252; */
  /* padding-top:2%; */
  /* padding-left:0%; */
  position: relative; /*pages are "on top of" navbar (or other way around, check if needed)*/
  z-index: 1;
  overflow:auto;
}

.navbar{
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  background-color: #f5ffd2;
  overflow:scroll;
  /* padding:1%; */
  position: relative;
  z-index: 2;
  border-right: 1px solid black;
  /* min-width: 100px; */
}
